<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDA9MSDHqHI93uWfiSHTV7kexhw9WGU8Ko</string>
	<key>GCM_SENDER_ID</key>
	<string>908543414816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phr</string>
	<key>PROJECT_ID</key>
	<string>phr-8cf79</string>
	<key>STORAGE_BUCKET</key>
	<string>phr-8cf79.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908543414816:ios:d386a7828d3e3bbbb6e245</string>
</dict>
</plist>